# Clickhouse
CLICKHOUSE_USER=user
CLICKHOUSE_PASSWORD=password
CLICKHOUSE_DB=db
CLICKHOUSE_HTTP_PORT=http_port
CLICKHOUSE_NATIVE_PORT=native_port

# Dataset
DATASET_URL=https://data.gharchive.org/2026-08-{01..31}-{0..23}.json.gz

# dbt
DBT_PROFILES_DIR=/root/.dbt
